
*{
  box-sizing: border-box;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  font-family: Montreal;
}

/* html {
  height: 100%;
  overflow: auto;
} */

body {
  position: relative;
  padding: 0px;
  margin: 0;
  background-color: rgb(250, 247, 242);
  /* height: 100%; */
  scrollbar-gutter: stable;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  line-height: 22.4px;
  letter-spacing: 0.3px;
}

@font-face {
  font-family: Montreal;
  src: url('./fonts/Montreal.woff2');
}

@font-face {
  font-family: Montreal2;
  src: url('./fonts/Montreal2.woff2');
}

@font-face {
  font-family: Fontawesome;
  src: url('./fonts/Fontawesome.woff2');
}